#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: translucent;
}
.img-icon{
  margin-left: 5%;
  padding: 10px;
}

.status{
  font-size: 0.8rem;
  margin-top: 10%;
}
.qty{
 font-size: 1.7rem;
 font-weight: bold;
}
.imgIcon{
  margin-top: 25%;
  margin-left: 10%;
}
ion-col.md.hydrated{
  padding: 0px !important;
}
.titel-colom-num{
  font-size: 0.7rem;
  text-align: right;
  color: lightslategray;
}
.titel-colom{
  font-size: 0.7rem;
  color: lightslategray;
  
}

.spinner{
  color: #ffd534;
  transform: scale(2);
}