<ion-header class="tolbar">
  <ion-toolbar>
    <ion-buttons slot="primary" (click)="presentPopover($event)">
      <ion-icon name="list-circle-outline" style="font-size: 2rem;color: #ffd534;"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="primary" (click)="refresh()">
      <ion-icon name="refresh-circle-outline" style="font-size: 2rem;color: #ffd534;"></ion-icon>
    </ion-buttons>

    <!-- <ion-title>PantauCovid-19</ion-title> -->
    <img src="assets/imgs/logo-color.png" class="img-icon" alt="" width="80">
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div align="center" style="margin-top: 50%;margin-bottom: 200%;" *ngIf="lazy" >
    <ion-spinner name="dots" class="spinner"></ion-spinner>
    <!-- <img src="../../assets/imgs/loading.svg" alt="" width="100"> -->
  </div>
  <div *ngIf="!lazy" >
    <ion-slides mode="ios" pager="ios" scrollbar="ios" [options]="slideOptions" pager="true" #slider
    (ionSlidesDidLoad)="slidesDidLoad(slider)">
    <ion-slide>
      <img src="../../assets/imgs/slides/slide4.jpg" alt="" width="100">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/imgs/slides/slide1.png" alt="" width="100">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/imgs/slides/slide2.jpg" alt="" width="100">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/imgs/slides/slide5.jpg" alt="" width="100">
    </ion-slide>
  </ion-slides>
  <ion-card style="--background: #343436 ;">
    <ion-card-header color="danger">
      <ion-card-subtitle>Last Update : {{date}} {{time}}</ion-card-subtitle>
      <ion-card-title style="font-size: 1rem;font-weight: bold;">
        <img src="assets/imgs/flag.png" alt="" width="30">
        Jumlah Kasus di Indonesia Saat Ini</ion-card-title>
    </ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-card color="warning">
            <ion-row>
              <ion-col size="4" align="center">
                <img src="assets/imgs/confirm.png" alt="" width="60" class="imgIcon">
              </ion-col>
              <ion-col size="8" align="center">
                <div class="status">Terkonfirmasi</div>
                <div class="qty">{{terkonfirm}} <span style="font-size: 1rem;">org</span></div>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card color="medium">
            <ion-row>
              <ion-col size="4" align="center">
                <img src="assets/imgs/active.png" alt="" width="60" class="imgIcon">
              </ion-col>
              <ion-col size="8" align="center">
                <div class="status">Perawatan</div>
                <div class="qty">{{perawatan}} <span style="font-size: 1rem;">org</span></div>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-card color="success">
            <ion-row>
              <ion-col size="4" align="center">
                <img src="assets/imgs/recovered.png" alt="" width="60" class="imgIcon">
              </ion-col>
              <ion-col size="8" align="center">
                <div class="status">Sembuh</div>
                <div class="qty">{{sembuh}} <span style="font-size: 1rem;">org</span></div>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card color="danger">
            <ion-row>
              <ion-col size="4" align="center">
                <img src="assets/imgs/deat.png" alt="" width="60" class="imgIcon">
              </ion-col>
              <ion-col size="8" align="center">
                <div class="status">Meningggal</div>
                <div class="qty">{{meninggal}} <span style="font-size: 1rem;">org</span> </div>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>
  <!-- seluruh dunia -->
  <ion-card style="--background: #343436 ;">
    <ion-card-header color="tertiary">
      <img src="assets/imgs/globe.png" alt="" width="30">
      <div style="font-size: 1rem;font-weight: bold;margin-top: -30px;margin-left: 13%;">Jumlah Kasus di Seluruh dunia</div>
      <div align="center">
        <ion-grid fixed>
          <ion-row style="margin-top: 3%;">
            <ion-col size="4"><div><ion-badge color="secondary" mode="ios">{{global_confirm}}</ion-badge><br> Terkonfirmasi</div></ion-col>
            <ion-col size="4"><div><ion-badge color="success" mode="ios">{{global_recovered}}</ion-badge><br> Sembuh</div></ion-col>
            <ion-col size="4"><div><ion-badge color="primary" mode="ios">{{global_death}}</ion-badge><br> Meninggal</div></ion-col>
          </ion-row>
        </ion-grid>
      </div>

    </ion-card-header>
    <ion-grid fixed>
      <ion-row >
        <ion-col size="2">
          <div class="titel-colom">Negara</div>
        </ion-col>
        <ion-col size="2">
          <div class="titel-colom">Provinsi</div>
        </ion-col>
        <ion-col size="2">
          <div class="titel-colom-num">Confirm</div> 
        </ion-col>
        <ion-col size="2">
         <div class="titel-colom-num">Dirawat</div>  
        </ion-col>
        <ion-col size="2">
          <div class="titel-colom-num">Sembuh</div> 
        </ion-col>
        <ion-col size="2">
         <div class="titel-colom-num">Meniggal</div>  
        </ion-col>
      </ion-row>
      <!-- table -->
      
    </ion-grid>
  </ion-card>
  <ion-card style="margin-top: -10px;" color="dark">
    <ion-grid fixed>
      <ion-row *ngFor="let item of item_all" >
        <ion-col size="2">
          <div class="titel-colom">{{item.countryRegion}}</div>
        </ion-col>
        <ion-col size="2">
          <div class="titel-colom">{{item.provinceState}}</div>
        </ion-col>
        <ion-col size="2">
          <div class="titel-colom-num">{{item.confirmed}}</div> 
        </ion-col>
        <ion-col size="2">
         <div class="titel-colom-num">{{item.active}}</div>  
        </ion-col>
        <ion-col size="2">
          <div class="titel-colom-num">{{item.recovered}}</div> 
        </ion-col>
        <ion-col size="2">
         <div class="titel-colom-num">{{item.deaths}}</div>  
        </ion-col>
      </ion-row>
      <hr style="border-color: aliceblue;">
    </ion-grid>
    
  </ion-card>
  </div>
  

</ion-content>