
<ion-content>
  <ion-item (click)="about()" color="dark" class="items">
   <div style="color: #ffd534;">About</div> 
  </ion-item>
  <ion-item (click)="exit()" color="dark" class="items">
    <div style="color: #ffd534;">Keluar</div>
  </ion-item>

</ion-content>
